extends base

block content 
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Reset Your Password
            .form__label Enter your email address and we’ll send you a link to reset your password
            form.form.form--forgot--password
                .form__group
                    label(for='email')
                    input#email.form__input(type='email', placeholder='you@example.com', required)
                .form__group
                    button.btn.btn--green.btn--reset Reset Password
